<div>
    <form class="loginForm" ng-submit="agregar()">
        <div class="form-group">
            <label for="exampleInputEmail1">Nota</label>
            <input type="text" class="form-control" ng-model="nota" id="nombreInput" placeholder="Escriba su nota">
        </div>
        <div ng-repeat="model in notas">
            <p> {{model.nota}}
            </p>
        </div>

        <button type="submit" class="btn btn-success" ng-click="agregar()">Agregar</button>
        <div class="form-group">
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>

    </form>
</div>
